<div class="back-log-table">
<h1>My Log:</h1>
<table>
    <thead>
        <th>Log Id</th>
        <th>Title</th>
        <th>Platform</th>
        <th>Players</th>
        <th>Stage</th>
        <th>Notes</th>
    </thead>
    <tbody>
        {{#each logs}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{platform}}</td>
            <td>{{players}}</td>
            <td>{{stage}}</td>
            <td>{{notes}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
