<div class="col-sm-12 back-logs-table">
  <div>
    {{#each logs}}
    <div class="row">
      <div class="col-sm-2">
        <h6>{{title}}</h6>
      </div>
      <div class="col-sm-2">
        <h6>{{platform}}</h6>
      </div>
      <div class="col-sm-2">
        <h6>{{players}}</h6>
      </div>
      <div class="col-sm-2">
        <h6>{{stage}}</h6>
      </div>
      <div class="col-sm-2">
        <h6>{{notes}}</h6>
      </div>
      <div class="col-sm-2">
        <button class="full-width delete-log" id="{{id}}" data-control="deleteLog">Delete</button>
        <br>
        <button class="full-width show-log" id="{{id}}" data-control="showLog">Show</button>
        <br>
        <button class="full-width update-log" id="{{id}}" data-control="updateLog">Update</button>
      </div>
      </div>
    {{/each}}
  </div>
</div>
